@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html,
body,
#root {
  height: 100%;
}

body {
  padding: 0 20px;
}

h1 {
  @apply text-4xl;
  color: var(--vscode-foreground);
}

h2 {
  @apply text-2xl;
  color: var(--vscode-descriptionForeground);
}

.dropdown-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.dropdown-container label {
  display: block;
  color: var(--vscode-foreground);
  cursor: pointer;
  font-size: var(--vscode-font-size);
  line-height: normal;
  margin-bottom: 2px;
}

.folder_picker {
  border: 1px solid var(--vscode-dropdown-border);
  padding: 3px 4px;
  gap: 0.5em;

  display: flex;

  button {
    height: 16px;
  }

  input {
    flex: 1;
    background: transparent;

    &:disabled {
      opacity: 0.5;
    }
  }
}
