@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  padding: 0 20px;
}

h1 {
  @apply text-4xl;
  color: var(--vscode-foreground);
}

h2 {
  @apply text-2xl;
  color: var(--vscode-descriptionForeground);
}
